<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<main>
    <!-- Täislaiusega esilepilt -->
    <!-- wp:post-featured-image {"align":"full","height":"400px"} /-->

    <!-- Kitsas sisu -->
    <!-- wp:group {"layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|16","bottom":"var:preset|spacing|16"}}}} -->
    <div class="wp-block-group">
        <!-- wp:post-title {"level":1} /-->
        <!-- wp:post-content /-->
    </div>
    <!-- /wp:group -->
</main>

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->